.title{
    padding:5rem 0rem;
    font-size: larger;
    background-color: yellow;
}

.txt-input{
    width: 80%;
    height: 20vh;
    display: block;
    margin: 1rem;
    padding: 1rem;
}

.output{
    width: 80%;
    height: 20vh;
    border: 1px solid black;
    margin: 1rem;
    padding: 1rem;

}